:root {
  --blue-header-link: #2e2f42;
  --primary-white: #ffffff;
  --primary-navy-blue: #2e2f42;
   --cornflower-color: #E7E9FC;
   --salte-color: #434455;

}

body {
  font-family: "Roboto", sans-serif;
  color: var(--salte-color);
  background-color: var(--primary-white);
}
.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase; 
color: #4d5ae5;
line-height: 1.17;
}
.studio{
  color: #2e2f42;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--blue-header-link);
}

.contact {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--salte-color);
}

.first-section {
  background-color: var(--primary-navy-blue);
}

.h1 {
  color: var(--primary-white);
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--primary-white);
  background-color: #4d5ae5;
  cursor: pointer;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
}

.feature-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color:  #434455;
}

.our-team-section {
  background-color: #F4F4FD;
  ;
}

.our-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
  line-height: 1.11;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
  background-color: var(--primary-white);
}
.work-definition {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
background-color: var(--primary-white);
}
.portofolio-section {
 background-color: var(--cornflower-color);
}

.portfolio-title {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-navy-blue);
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.portfilio-image-description {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--primary-navy-blue);
}

.portfolio-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color:  #434455;
}

.footer{
  background-color: var(--primary-navy-blue);
}

.footer-text{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}